section{
    display: flex;
}
h1{
    text-align: center;
}
button{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: darkorchid;
    position: relative;
    left: 135px;
    border: none;
    box-shadow: 7px 5px 5px rgb(100, 95, 95);
    color: aliceblue;

}