section{
    display: flex;
}
h1{
    text-align: center;
}
button{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: blueviolet;
    position: relative;
    left: 135px;

}